@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d192c;
}

.card {
  animation: slideInLeft 0.9s;
  transition: 0.3s ease-in-out;
  padding: 2.4rem 2.4rem 3.2rem 2.4rem;
  background: #15263f;
  border-radius: 1.5rem;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-2rem);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.952917);
}
.card__hero-box {
  max-width: 30.2rem;
  height: 30.2rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  position: relative;
}
.card__overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 248, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  display: none;
}

.card__hero-box:hover img {
  animation: rotate360 0.7s cubic-bezier(0.52, 0.67, 1, 0.47) infinite;
}
.card__hero-box:hover .card__overlay {
  display: flex;
}
.card__hero-box img {
  border-radius: 8px;
}
.card__title {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}
.card:hover .card__title {
  color: #00fff8;
}
.card__description {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
  color: #8bacd9;
  max-width: 30.2rem;
}
.card__random-box {
  margin-bottom: 1.6rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #2e405a;
}
.card__random-box > * {
  display: flex;
  align-items: center;
}
.card__meth {
  color: #00fff8;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  gap: 0.648rem;
}
.card__days-left {
  gap: 0.77rem;
  color: #8bacd9;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}
.card__user-box {
  gap: 1.6rem;
}
.card__avatar-box {
  max-width: 3.3rem;
  border: 1px solid white;
  border-radius: 50%;
}
.card__username {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: white;
}
.card:hover .name {
  color: #00fff8;
}
.card__username .dark {
  color: #8bacd9;
  margin-right: 0.5rem;
}

@media all and (max-width: 26.25em) {
  body {
    display: block;
    padding: 6.2rem 0;
    min-height: initial;
  }

  .card {
    width: fit-content;
    margin: 0 auto;
    padding: 2.4rem;
  }

  .card__hero-box {
    max-width: 27.8rem;
    height: 27.8rem;
  }

  .card__description {
    max-width: 27.8rem;
    margin-bottom: 1.6rem;
  }
  .card__random-box {
    padding-bottom: 1.6rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card__meth {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .card__days-left {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .card__user-box {
    flex-wrap: wrap;
  }

  .card__username {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
@media all and (max-width: 23.4375em) {
  body {
    padding: 6.2rem 2.4rem;
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
